::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    background-color: #3F83F8;
    border-radius: 3px;
}

html {
    scroll-behavior: smooth;
}

* {
	box-sizing:border-box; 
	position:relative; 
	min-width:0; 
}

@font-face {
    font-family: "kb";
    src: 
      url('/font/kb.woff2') format("woff2"),
      url('/font/kb.woff') format("woff"),
}

h1,h2,h3,h4 {
	text-wrap: balance; 
}

body {
	min-height: 100dvh; 
}
 
p {
	text-wrap :pretty; 
}

.bluewhite {
    max-width: 46rem;
    padding: 2rem;
    margin: auto;
    font-family: "lucida grande", "lucida sans unicode", lucida, -apple-system, -apple-system-font, Helvetica, Tahoma, Arial, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "微软雅黑", SimHei, "WenQuanYi Micro Hei", sans-serif;
    font-size: 21px;
    background-color: #3F83F8 !important;
    color: white !important;
}

/* <span class="tooltip" data-tooltip="blablabla">xxx</span> */
.tooltip:before {
    content: attr(data-tooltip);
}
