::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    background-color: #3F83F8;
    border-radius: 3px;
}

html {
    scroll-behavior: smooth;
}

.bluewhite {
    max-width: 46rem;
    padding: 2rem;
    margin: auto;
    font-family: "lucida grande", "lucida sans unicode", lucida, -apple-system, -apple-system-font, Helvetica, Tahoma, Arial, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "微软雅黑", SimHei, "WenQuanYi Micro Hei", sans-serif;
    font-size: 21px;
    background-color: #3F83F8 !important;
    color: white !important;
}