/* 用f-前缀来构建命名空间，避免冲突 */
.f-card {
  color: white;
  background: transparent;
  border: 2px solid #ff6b00;
}
.f-card:hover {
  border-radius: 12px;
  background-color: #ff6b00;
  scale: 0.95;
  rotate: 8deg;
  box-shadow: 0px 3px 187.5px 7.5px rgba(255, 107, 0, 0.4);
}

/* 毛玻璃模糊效果 */
.f-blur-card {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blue(8px);
  background-color: rgba(255, 255, 255, 0.5);
}

.f-colorful{
  background-image: linear-gradient( 45deg, #e44219, #005ff3 );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
